.hero {
    background: linear-gradient(to bottom right, #1e3a8a, #0ea5e9);
    color: white;
    font-family: poppins;
    padding: 30px 20px;
    text-align: center;
    background-image: url('Images/background.jpg');
    background-size: cover;
    background-position: center;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.join-btn {
    background: linear-gradient(135deg, white 0%, blueviolet 100%);
    padding: 3px 6px;
    border: none;
    width: 48%;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.join-btn:hover {
    background: linear-gradient(135deg, white 0%, red 100%);
    transform: scale(1.05);
    transition: 0.3s ease;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.btn {
    background: linear-gradient(135deg, #facc15 0%, blue 100%);
    background-color: #facc15;
    padding: 12px 24px;
    color: black;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background: linear-gradient(135deg, #ffd941 0%, blueviolet 100%);
    background-color: #eab308;
    transform: scale(1.05);
    transition: 0.3s ease;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.program-section {
    padding: 60px 20px;
    background-color: #dff0fb;
    text-align: center;
}

.program-section h2 {
    font-family: poppins;
    font-size: 2rem;
    margin-bottom: 40px;
    color: #0f172a;
}

.card-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr); /* 4 cards in a row */
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.vol-card {
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    padding: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.vol-card h3 {
    font-family: poppins;
}

.vol-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

.cta {
    font-family: poppins;
    background: linear-gradient(to right, #06b6d4, #3b82f6);
    background-image: url(Images/background.jpg);
    color: white;
    padding: 60px 20px;
    text-align: center;
}

@media (max-width: 992px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .card-grid {
        grid-template-columns: 1fr;
    }
}